<% include _header %>
<h1>Write Post</h1>
<form id="writeAction" action="/boards" method="post">
    <input type="text" class="inputSubject" id="title" name="title" placeholder="제목">
    <textarea class="textContents" id="contents" name="contents" rows="20" cols="80"></textarea>
    <input type="submit" value="Write" class=btn btn-primary btn-block />
</form>
<% include _footer %>