<% include _header%>

<% if((currentUser) && (currentUser.id===user.id)){%>
<a href="/edit" class="pull-right">Edit your profiles</a>
<% } %>
<h1>
    <%= user.name()%>
</h1>
<h2>Joined on
    <%= user.createAt%>
</h2>

<% include _footer%>