<% include _header %>
<h1>Sign up</h1>
<form action="/signup" method="post">
  <p style="display: inline">Username : </p><input name="username" type="text" class="form-control" placeholder="Username" required autofocus />
  <p style="display: inline">Passward : </p><input name="password" type="password" class="form-control" placeholder="Password" required />
  <p style="display: inline">Nickname : </p><input name="nickname" type="text" class="form-control" placeholder="Nickname" required />
  <p style="display: inline">Email address : </p><input name="email" type="text" class="form-control" placeholder="Email" required />
  <p style="display: inline">Major : </p><input name="major" type="text" class="form-control" placeholder="Major" required />
  <input type="submit" value="Sign up" class=btn btn-primary btn-block />
</form>
<% include _footer %>   